$white: #FFFFFF;
$white-secondary: rgba(255,255,255,0.48);
$white-tertiary: rgba(255,255,255,0.16);
$blue-dark: #25283D;
$blue-shade: #262F46;
$blue-mid: #2D9CDB;
$blue-light: #56CCF2;
$red-mid: #EB5757;
$red-light: #EE7171;
$yellow-mid: #F2C94C;
$yellow-light: #F7D97D;