.project-header {
	
}

.project-content {
	@include outer-container;
	  	img {
	  		display: block;
	  		width: 100%;
	  		margin-bottom: 1rem;
	  	}
	  	h1, h2, p {
    		@include fill-parent();
	  	  	@include mq(large) {
	    		@include span-columns(8);
			    @include shift(1);
	  		}
	  	}
		h2 {
		    @include fill-parent();
			padding-top: 8px;
			@include font-size($h3-font-sizes);
			font-weight: $font-weight-regular;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
			color: $white-secondary;
			margin-bottom: 2rem;
			@include mq(large) {
				@include span-columns(2);
				@include shift(1);
			}
		}
	  	.img {
	  		@include span-columns(12);
	  		margin: 2rem 0;
	  	}
	}

.content {
	clear: both;
}

.content-p {
  @include fill-parent();
  @include mq(large) {
    @include span-columns(8);
  }
}