---
layout: default
---

<section>
  <div class="heading">
    <h1>I'm Jacob — A digital product designer working in London, UK. I focus on native mobile and responsive web experiences.</h1>
    <h2>Currently I’m busy designing a <a href="http://tandem.co.uk" target="_blank">new bank</a> and running <a href="http://precisepixels.co.uk" target="_blank">Precise Pixels</a></h2>
  </div>
</section>

<section class="work-posts">
  <ul>
    {% for post in site.posts limit:2 %}
    {% assign mod = forloop.index | modulo: 2 %}
    {% if mod != 0 %} <!-- odd -->
      <li class="work-post-wrapper scroll-animation revealedBox goLeft">
        <div class="work-cover-image revealedBox-content">
          <a href="{{ post.url | relative_url }}">
            <div class="work-title" role="button">{{ post.title | escape }}</div>
            <figure><img src="assets/img/cover/{{ post.cover-image }}" alt=""></figure>
          </a>
        </div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </li>
      {% else %} <!-- even -->
      <li class="work-post-wrapper scroll-animation revealedBox goRight">
        <div class="work-cover-image revealedBox-content">
          <a href="{{ post.url | relative_url }}">
            <div class="work-title" role="button">{{ post.title | escape }}</div>
            <figure><img src="assets/img/cover/{{ post.cover-image }}" alt=""></figure>
          </a>
        </div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="home-work-link">
    <a href="{{ "/work" | relative_url}}" role="button">See more of my work</a>
  </div>
</section>

<section>
  <h3>About me</h3>
  <div class="content-p">
    <p>I design innovative digital products and experiences. My skills span user experience design, user interface and interaction design, design systems, production and front-end development.
    <p>I'm involved in every step and iteration of the human-centred design process, through discovery, exploration, production and validation.
    <p>Let's build something together. <a href="">Get in touch.</a></p>
  </div>
</section>

<!-- <div class="home-cta-wrapper">
  <section>
    <div class="home-cta">
      <div class="home-cta-content">
        <h3>Let’s build something together.
        <a href="#" role="button">Get in touch</a></h3>
      </div>
    </div>
  </section>
</div> -->


<!-- <div class="home-cta-wrapper">
  <section>
    <div class="home-cta">
      <div class="home-cta-content">
        <p class="large">Got an idea for a product? Let’s build something together.</p>
        <a href="#" role="button">Get in touch</a>
      </div>
    </div>
  </section>
</div> -->

<!-- <section>
  <div id="instafeed"></div>
</section> -->

{{ content }}