---
layout: default
---

<div class="bg-wrapper">
  <div class="bg-gradient"></div>
  <div class="bg-image" style="background: url('../assets/img/cover/{{ page.cover-image | escape }}') no-repeat top; background-size: cover;"></div>
</div>

<div class="project" itemscope itemtype="http://schema.org/BlogPosting">

  <section class="project-header">
    <div class="heading">
      <h1 itemprop="name headline">{{ page.title | escape }}</h1>
      <h2 itemprop="name headline">{{ page.subtitle | escape }}</h2>
    </div>
  </section>

  <article class="project-content" itemprop="articleBody">
    {{ content }}
  </article>

</div>

<section>
<!--   {% if page.next.url %}
    <a class="project-prev" href="{{page.next.url | relative_url }}">{{page.next.title}}</a>
  {% endif %}
  {% if page.previous.url %}
    <a class="project-next" href="{{page.previous.url | relative_url }}">{{page.previous.title}}</a>
  {% endif %} -->

{% if page.next.url %}
  <li class="work-post-wrapper scroll-animation revealedBox goLeft">
    <div class="work-cover-image revealedBox-content">
      <a href="{{ page.next.url | relative_url }}">
        <div class="work-title" role="button">{{ page.next.title | escape }}</div>
        <figure><img src="../assets/img/cover/{{ page.next.cover-image }}" alt=""></figure>
      </a>
    </div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </li>
{% endif %}
{% if page.previous.url %}
  <li class="work-post-wrapper scroll-animation revealedBox goLeft">
    <div class="work-cover-image revealedBox-content">
      <a href="{{ page.previous.url | relative_url }}">
        <div class="work-title" role="button">{{ page.previous.title | escape }}</div>
        <figure><img src="../assets/img/cover/{{ page.previous.cover-image }}" alt=""></figure>
      </a>
    </div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </li>
{% endif %}

</section>
